body {
    background: darkorange;
    font-family:Arial, Helvetica, sans-serif;
}    

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:darkcyan;
}

.assignment img {
    width:200px;
    padding:10px;
}

h1 {
    color: white;
    text-align:center;
}

h2 {
    color: white;
}