body {
    background: #010440;
    font-family:Arial, Helvetica, sans-serif;
}    

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom:30px;
    background:#4B61A6;
    border-radius:5px;
    box-shadow: 5px 8px #9CABD9;
}

.assignment img {
    width:200px;
    padding:5px;
    background: #9CABD9;
    border: 2px solid #ADBCD9;
    margin-right: 20px;
    border-radius:5px;
}

h1 {
    color: #ADBCD9;
    text-align:center;
}

h2 {
    color: #F2F2F2;
}

a {
    text-decoration:none;
}

.assignment h2:hover {
    color: #010440;
}